- btn_html_attributes = { class: ["btn", "btn-outline-primary"] }

.container
  .row
    %p.lead.display-4 Listado de casinos
  = render 'shared/admin_panel' do
    .btn-group
      = link_to 'Nuevo casino', new_casino_path, btn_html_attributes
  - if @casinos.any?
    = render 'casinos_table'