!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Nueva Orden!
    %p
      Ha llegado una nueva orden, entra a #{@url}, para poder ver el detalle
