.row.justify-content-md-center
  %h1.display-4 ¡Hola te llevamos la comida hasta la puerta de tu sala!
  %p.lead Sólo, ingresa con tu cuenta haz un pedido a traves de la pagina web y en pocos minutos recibe tu comida.
.row.justify-content-md-center
  %p.lead UTA delivery es un servicio delivery de comida disponible para todos los alumnos de la Universidad de Tarapacá campus Saucache
  %p.lead puedes pedir comida de cualquier casino del campus Saucache de la universidad además contamos con pedidos del restaurant Roly.
.row.justify-content-md-center.media
  %img.mr-3{alt: "logo uta", src: "http://webdae.uta.cl/img/log_uta.png", style: "width:auto;height:400px;"}