.container
  .row.justify-content-md-center
    .p.lead.display-2 ¡Bienvenido a UTA delivery!
  .row.justify-content-md-center.mt-2
    = link_to 'Casinos disponibles', casinos_path, class: ["btn", "btn-primary"]
