.container
  %p.lead.display-4 Ordenes de: #{current_user[:name]}
  %table.table.table-bordered
    %trhead
      %tr
        %th Order ID
    %tbody
      - @orders.each do |order|
        %tr.clickable-row{"data-href": order_path(order.order_id)}
          %td= order.order_id
