.container
  %h2.font-weight-light{align: "center"} Orden: #{@order_id}
  %table.table.table-bordered
    %trhead
      %tr
        %th Casino
        %th Producto
        %th Cantidad
    %tbody
      - @items.each do |item|
        %tr
          %td= item.product.casino.nombre
          %td= item.product.name
          %td= item.quantity
