.container
  %p.lead.display-4 Orden ##{@orders[:id]}
  %table.table.table-bordered
    %trhead
      %tr
        %th Order ID
        %th User ID
    %tbody
      %tr
        %td= @orders.id
        %td= @orders.user_id