<div class="container">
  <div class="row">
    <h1>Nuevo producto para: <%= @casino[:nombre] %></h1>
  </div>
  <div class="row">
    <%= render 'form', product: @product %>
  </div>
  <div class="row">
    <%= link_to 'Back', casinos_path, class: "btn btn-primary" %>
  </div>
</div>